*{
	/*google fonts*/
	font-family: 'Open Sans', sans-serif;
	
	/*reset css*/
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}


h1{
	text-align: center;
	color: seagreen;
}

#box{
	
	display: inline-block;
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 10px solid black;
	background-color: orange;
}

#box2{
	
display: inline-block;
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 10px solid black;
	background-color: orange;
}

#btn{
	padding: .5rem;
	border: 2px solid darkgrey;
	background-color: skyblue;
	border-radius: .5rem;
}
#container{
	display: inline;
}
#sub-con{
border: 1px solid green;
height: 100%;
width: 100%;
}
#side-bar{
	padding: 10px;
	display: inline-block;
	height: 100vh;
	background-color: blue;
	width: 10%;

}
#content{
	height: 100vh;
	width: calc(100% - 11%);
	display: inline-block;
	border: 1px solid red;
}
