*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	min-height: 100vh;
	padding-top: 1rem;
	padding-bottom: 200px;

	}

#heading{
	text-align: center;
	margin-bottom: 2rem;
}
#section{
	padding: 0 10rem;
}
#section article{
	margin-bottom: 2rem;
}

#footer{
	position: absolute;
	width: 100%;
	bottom: 0;
}
#nav-1 {
	background-color: #022542;
	padding: 1.5rem 1rem;

}
#nav-1{
	color: white;
}

#nav-1 ul li {
	 list-style-type: none;
	 line-height: 1.2;
}

#nav-1 ul a{
	text-decoration: none;
	color: white;
}

.nav-1-div{
	display: inline-block;
	width: 280px;
	
}
#nav-2{
	padding: .5rem;
}
#nav-2 a{
	text-decoration: none;
}
#nav-2 ul li{
	color: black;
	display: inline;
	margin: 0 1rem ;
}